.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        color: #6B6B6B;
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            box-shadow: 1px 1px 10px $main-color, -1px -1px 10px $main-color;
            border: none;
            border-radius: 9px;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        display: none;
        &_active {
            display: block;
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &-item {
        width: 300px;
        min-height: 400px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin: 0 8px;
        margin-bottom: 20px;
        &__img {
            display: block;
            max-width: 100%;
            height: 140px;
            margin: 0 auto;
        }
        &__subtitle {
            color: #0D0D0D;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link {
            display: block;
            color: #C70101;
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            text-transform: uppercase;
            text-align: center;
            &:hover {
                color: #C70101;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            height: 2px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
        }
        &__price {
            color: #050505;
            font-weight: 700;
            font-size: 20px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            padding-left: 19px;
            padding-right: 15px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                color: #555555;
                font-weight: 300;
                font-size: 14px;
                margin-top: 3px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    top: 7px;
                    left: -14px;
                }
            }
        }
        &__back {
            display: block;
            color: $main-color;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            margin-right: 19px;
            text-transform: uppercase;
            margin-top: 70px;
        }
    }
}